@page
@model ServiceHost.Pages.AccessDeniedModel
@{
}
<div class="container wide">
    <div class="row">
        <div class="col-lg-12">
            <div class="single-slider-item">
                <div class="hero-slider-item-wrapper hero-slider-bg-1">
                    <div class="single-slider-item">
                        <div class="hero-slider-item-wrapper hero-slider-bg-1">
                            <div class="container">
                                <img src="~/Theme/assets/img/banner-image.jpg" style="position: absolute;top:0; left:0; height:90%; width:100%;" />
                                <div class="hero-slider-content hero-slider-content--left-space">
                                    <h1>404</h1>
                                    <p>یافت نشد!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>