@model DiscountManagement.App.ColleagueDiscount.DefineColleagueDiscount
@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">تعریف تخفیف همکار جدید</h4>
</div>

<form asp-page="./Index" asp-page-handler="Create"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="VehicleID" class="control-label" style="c">خودرو</label>
                    <select class="form-control" asp-for="VehicleID"
                            asp-items='new SelectList(Model.Vehicles , "ID", "Specifications" )'>
                        <option value="0">خودرو</option>
                    </select>
                    <span asp-validation-for="VehicleID" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DiscountRate" class="control-label">درصد تخفیف</label>
                    <input type="text" class="form-control" asp-for="DiscountRate">
                    <span asp-validation-for="DiscountRate" class="error"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">تعریف</button>
    </div>
</form>